<!--The content below is only a placeholder and can be replaced.-->
<!--/.Navbar-->
<header class="row" style="margin-bottom: 100px">
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark amber darken-4 fixed-top scrolling-navbar">
           
        <!-- Navbar brand -->
        <a href="#" class="fa fa-align-justify"></a>
        <logo><a class="navbar-brand" href="#">Navbar</a></logo>

        <!-- Collapsible content -->
        <links>

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link waves-light" mdbRippleRadius>Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbRippleRadius>Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbRippleRadius>Pricing</a>
                </li>

                <!-- Dropdown -->
                <mdb-dropdown-container>
                    <li class="nav-item dropdown" dropdown>
                        <a dropdownToggle class="nav-link dropdown-toggle">
                        Basic dropdown<span class="caret"></span></a>
                        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                            <a class="dropdown-item waves-light" href="#">Action</a>
                            <a class="dropdown-item waves-light" href="#">Another action</a>
                            <a class="dropdown-item waves-light" href="#">Something else here</a>
                            <div class="divider dropdown-divider"></div>
                            <a class="dropdown-item waves-light" href="#">Separated link</a>
                        </div>
                    </li>
                </mdb-dropdown-container>

            </ul>
            <!-- Links -->

            <!-- Search form -->
            <form class="form-inline  waves-light" mdbRippleRadius>
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </form>
        </links>
        <!-- Collapsible content -->

    </mdb-navbar>
</header>

<div class="row">
    <nav class="col-md-2">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus, incidunt laborum itaque cupiditate modi iusto nostrum atque repellendus officia ab, dicta omnis voluptates beatae accusamus nobis molestias nam alias a!
    </nav>
    <div role="main" class="col-md-8">
        <section id="conteudo">
            <router-outlet></router-outlet>
        </section>
    </div>
</div>

<footer class="row" id="rodape-pagina">

</footer>



